@import 'variables.less';

.menu-button::before
{
    padding: 5px;
    background: #FFF;
    border-radius: 5px;
}

.main-header__logo
{
    padding: 0px 0px 10px 0px;
    background-image: url("/img/punchcard.png");
    background-repeat: repeat-x;
}

.main-content__post
{
    margin-top: 70px;
}

.main-content__post:first-child
{
    margin-top: 35px;
}

.post__content
{
    margin-bottom: 20px;
}

.single-post__content h2
{
    text-align: center;
}

.single-post__content h3
{
    margin: 0 60px 15px;
}

.main-header__navigation
{
    border-top: none;
}

.navigation__list li a
{
    padding: 20px 20px;
}

.navigation__list li a.social-link
{
    padding: 20px 15px;
}

.navigation__list li.list-separator
{
    margin-right: 30px;
}

.tweet__separator i
{
    color: @focusbackground;
}

.twitter-feed
{
    padding: 50px 0;
}

.post__title
{
    margin: .6em 0 .9em 0;
}

.footer__socials
{
    margin: 0;
}