<footer class="footer">
    <section class="footer__bottom">
        <div class="container bordered">
            <div class="eight columns">&nbsp;</div>
            <div class="eight columns">
                <ul class="footer__socials">
                    {% include 'Layout/social_links.html.twig' %}
                </ul>
            </div>
        </div>
    </section>
</footer>