<header class="main-header">
    <div class="main-header__logo">
        <div class="container">
            <div class="sixteen columns">
                <a class="header__logo" href="/">
                    <img src="/img/logo/tentacode-pixel.gif" alt="Just me in pixels, nothing to see here." />
                </a>
            </div>
        </div>
    </div>

    <div class="main-header__navigation" id="sticky">
        <div class="container">
            <div class="sixteen columns">
                <div class="table">
                    <ul class="navigation__list">
                        {% include 'Layout/navigation.html.twig' %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
