<div class="mobile-menu__wrap">
    <nav class="mobile-menu__nav">
        <div class="icon-list">
            <ul class="mobile-menu__list">
                {% include 'Layout/navigation.html.twig' %}
            </ul>
        </div>
    </nav>
    <button class="close-button" id="close-button"></button>
</div> 
<button class="menu-button" id="open-button">Open Menu</button>