<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title 'Tentacode' %}</title>
        <meta name="description" content="{% block meta_description "Tentacode's web developer blog" %}">
        <meta name="author" content="Gabriel Pillet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">

        {% block stylesheets %}
            <link rel="stylesheet" href="/built/css/blog.css">
        {% endblock %}

        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700italic,400italic,300,900,900italic,700,300italic' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/img/favicon.ico">
    </head>
    <body>
        <div class="main__container">
            {% include 'Layout/mobile_menu.html.twig' %}

            <div class="content-wrap">
                <div class="content">
                    {% include 'Layout/header.html.twig' %}

                    <section class="main-content">
                        <div class="container">
                            {% block columns %}
                                <div class="sixteen columns">
                                    {% block content '' %}
                                </div>
                            {% endblock %}
                        </div>
                    </section>

                    {% include 'Author/twitter.html.twig' %}

                    {% block comments %}
                        {% include 'Post/comments.html.twig' %}
                    {% endblock %}

                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="/built/js/blog.js"></script>

            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-61027226-1', 'auto');
              ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>
