<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title 'Tentacode' %}</title>
        <meta name="description" content="{% block meta_description 'Tentacode blog about technical stuff and shenanigans.' %}">
        <meta name="author" content="Gabriel Pillet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="/built/css/blog.css">
        {% endblock %}

        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700italic,400italic,300,900,900italic,700,300italic' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="img/favicon.ico">
    </head>
    <body>  
        <div class="main__container">
            {% include 'Layout/mobile_menu.html.twig' %}

            <div class="content-wrap">
                <div class="content">
                    {% include 'Layout/header.html.twig' %}

                    <section class="main-content">
                        <div class="container">
                            <div class="sixteen columns">                
                                {% block content '' %}

                                {#


                                <!-- Homepage Post -->
                                <article class="main-content__post scrollme">
                                    
                                    <!-- Post header -->
                                    <header class="post__header">
                                        <time class="post__time" datetime="2014-10-17"><span class="time_large">17<sup>th</sup></span> October</time>
                                        <p class="post__meta">Posted by <a href="about.html">Lorene</a> in <a href="#">Story</a></p>
                                        <h2 class="post__title"><a href="single.html">At the Office of the King's Attorney.</a></h2>
                                    </header>

                                    <div class="post__content">
                                        <p class="post__excerpt">The Young Amelia was first at the rendezvous. In spite of his usual command over himself, Dantes could not restrain his impetuosity. He was the first to jump on shore; and had he dared, he would, like Lucius Brutus, have "kissed his mother earth."</p>
                                    </div>

                                    <div class="post__button">
                                        <a class="btn" href="single.html">read</a>
                                    </div>

                                </article><!-- / Post -->


                                <!-- Homepage Video Post -->
                                <article class="main-content__post post-video scrollme">

                                    <!-- Post Video -->
                                    <div class="yt_container" data-pe-videoid="uQBL7pSAXR8"></div>

                                    <!-- Post header -->
                                    <header class="post__header">
                                        <time class="post__time" datetime="2014-4-28"><span class="time_large">28<sup>th</sup></span> April, 2014</time>
                                        <p class="post__meta">Posted by <a href="about.html">Lorene</a> in <a href="#">Story</a></p>
                                        <h2 class="post__title"><a href="single-video.html">Pretty video embed from YouTube!</a></h2>
                                    </header>

                                    <div class="post__content">
                                        <p class="post__excerpt">The Young Amelia was first at the rendezvous. In spite of his usual command over himself, Dantes could not restrain his impetuosity. He was the first to jump on shore; and had he dared, he would, like Lucius Brutus, have "kissed his mother earth."</p>
                                    </div>

                                    <div class="post__button">
                                        <a class="btn" href="single-video.html">read</a>
                                    </div>

                                </article><!-- / Post -->


                                <!-- Homepage Quote Post -->
                                <article class="main-content__post post-quote scrollme">

                                    <!-- Quote -->
                                    <figure class="quote-icon">
                                    <blockquote >
                                        <p>Investment, <a href="#">implementation</a> non-partisan Gandhi life-saving enable collaborative cities women's rights change movements vaccines cooperation emergency response transform the world. </p>
                                    </blockquote>

                                    <!-- Post header -->
                                    <header class="post__header">
                                        <time class="post__time" datetime="2014-4-28"><span class="time_large">28<sup>th</sup></span> April, 2014</time>
                                        <p class="post__meta">Posted by <a href="about.html">Lorene</a> in <a href="#">Story</a></p>
                                    </header>

                                </article><!-- / Post -->


                                <!-- Homepage Audio Post -->
                                <article class="main-content__post post-audio scrollme">

                                    <!-- Audio Embed -->
                                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/174417235&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

                                    <!-- Post header -->
                                    <header class="post__header">
                                        <time class="post__time" datetime="2014-4-28"><span class="time_large">28<sup>th</sup></span> April, 2014</time>
                                        <p class="post__meta">Posted by <a href="#">Lorene</a> in <a href="#">Story</a></p>
                                        <h2 class="post__title"><a href="single-audio.html">Audio Post Example.</a></h2>
                                    </header>

                                    <div class="post__content">
                                        <p class="post__excerpt">The Young Amelia was first at the rendezvous. In spite of his usual command over himself, Dantes could not restrain his impetuosity. He was the first to jump on shore; and had he dared, he would, like Lucius Brutus, have "kissed his mother earth."</p>
                                    </div>

                                    <div class="post__button">
                                        <a class="btn" href="single-audio.html">read</a>
                                    </div>

                                </article><!-- / Post -->


                                <!-- Homepage Gallery Post -->
                                <article class="main-content__post post-gallery scrollme">

                                    <!-- Gallery -->
                                    <div class="post__gallery">
                                        <img class="lazyOwl" data-src="images/choco.jpg" src="images/choco.jpg" alt="" />
                                        <img class="lazyOwl" data-src="images/tort.jpg"  src="images/tort.jpg" alt="" />
                                        <img class="lazyOwl" data-src="images/coctail.jpg"  src="images/coctail.jpg" alt="" />
                                    </div>

                                    <!-- Post header -->
                                    <header class="post__header">
                                        <time class="post__time" datetime="2014-4-28"><span class="time_large">28<sup>th</sup></span> April, 2014</time>
                                        <p class="post__meta">Posted by <a href="about.html">Lorene</a> in <a href="#">Story</a></p>
                                        <h2 class="post__title"><a href="single-gallery.html">Post Gallery Example.</a></h2>
                                    </header>

                                    <div class="post__content">
                                        <p class="post__excerpt">The Young Amelia was first at the rendezvous. In spite of his usual command over himself, Dantes could not restrain his impetuosity. He was the first to jump on shore; and had he dared, he would, like Lucius Brutus, have "kissed his mother earth."</p>
                                    </div>

                                    <div class="post__button">
                                        <a class="btn" href="single-gallery.html">read</a>
                                    </div>

                                </article><!-- / Post -->
                                #}
                            </div>
                        </div>
                    </section>

                    {% include 'Author/twitter.html.twig' %}
                    {% include 'Layout/footer.html.twig' %}
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="built/js/blog.js"></script>
        {% endblock %}
    </body>
</html>
