<section class="twitter-feed">
    <article class="tweet">
        <div class="container">
            <div class="ten columns offset-by-three">
                <header class="tweet__header">
                    <div class="tweet__avatar">
                        <img src="/img/avatar.png" alt="Gabriel Pillet, Web Developer" />
                    </div>

                    <a href="https://twitter.com/tentacode" class="tweet__author">Gabriel Pillet<span class="tweet__nick">@tentacode</span></a>

                    <div class="tweet__separator">
                        <i class="fa fa-twitter"></i>
                    </div>
                </header>
                <blockquote class="tweet__content">
                    <p>
                        Web <a href="#">#Developer</a> at Ouiche Lorraine.
                        Stoner <a href="#">#Guitarist</a> at Goatfather.
                        Happy <a href="#">#Teleworker</a> in Lyon (France).
                    </p>
                </blockquote>
            </div>
        </div>
    </article>
</section>